*.pyc
*.out
*.so
*.csv
*.pdf
datasets/
pre_trained_model/
output_101_3x/
cocoapi/
output_101_3x_deform/
output_101_3x_deform_infer/
output_101_3x_deform_v1/
output_101_3x_deform_infer.v2/
output_101_3x_deform_infer.v1/
vis_hetu_r101_val/
vis_hetu/
build/
dist/
LOFAR_mir
LOFAR_mir/
Mingo_mir
Mingo_mir/
vis_hetu_lofar/
vis_hetu_r101_val.old/
vis_hetu_r101_val.v1/
