*.pyc
*.out
*.so
*.csv
*.pdf
*.txt
*.tar.gz
datasets/
pre_trained_model/
output_101_3x/
cocoapi/
output_101_3x_deform/
output_101_3x_deform_infer/
output_101_3x_deform_v1/
output_101_3x_deform_infer.v2/
output_101_3x_deform_infer.v1/
output_101_3x_deform.v2/
vis_hetu_r101_val/
vis_hetu/
build/
dist/
LOFAR_mir
LOFAR_mir/
Mingo_mir
Mingo_mir/
FIRST_mir
FIRST_mir/
HT_mir
HT_mir/
RACS-DR1_0037-06A_split_mir
RACS-DR1_0037-06A_split_mir/
RACS-DR1_0037-06A_split_mir
RACS-DR1_0101-37A_split_mir
RACS-DR1_0130-68A_split_mir
RACS-DR1_0144+18A_split_mir
RACS-DR1_0210-18A_split_mir
RACS-DR1_0215-25A_split_mir
RACS-DR1_0227-50A_split_mir
RACS-DR1_0237-18A_split_mir
RACS-DR1_0243+25A_split_mir
RACS-DR1_0256+12A_split_mir
RACS-DR1_0427-43A_split_mir
RACS-DR1_0606+18A_split_mir
RACS-DR1_0620+25A_split_mir
RACS-DR1_0635-31A_split_mir
RACS-DR1_0647-25A_split_mir
RACS-DR1_0809-25A_split_mir
RACS-DR1_0909-18A_split_mir
RACS-DR1_0913-50A_split_mir
RACS-DR1_0926-69A_split_mir
RACS-DR1_0950-50A_split_mir
RACS-DR1_1057+06A_split_mir
RACS-DR1_1120+18A_split_mir
RACS-DR1_1122+12A_split_mir
RACS-DR1_1144-37A_split_mir
RACS-DR1_1351+06A_split_mir
RACS-DR1_1430-68A_split_mir
RACS-DR1_1459-76A_split_mir
RACS-DR1_1510-56A_split_mir
RACS-DR1_1523+25A_split_mir
RACS-DR1_1531-31A_split_mir
RACS-DR1_1549-37A_split_mir
RACS-DR1_1608+18A_split_mir
RACS-DR1_1625-12A_split_mir
RACS-DR1_1800+00A_split_mir
RACS-DR1_1806-12A_split_mir
RACS-DR1_1812-62A_split_mir
RACS-DR1_1917-31A_split_mir
RACS-DR1_1939+06A_split_mir
RACS-DR1_1941-50A_split_mir
RACS-DR1_1947-12A_split_mir
RACS-DR1_1951-62A_split_mir
RACS-DR1_1955-25A_split_mir
RACS-DR1_2012-12A_split_mir
RACS-DR1_2037-12A_split_mir
RACS-DR1_2056+18A_split_mir
RACS-DR1_2126-37A_split_mir
RACS-DR1_2149-18A_split_mir
RACS-DR1_2208-06A_split_mir
RACS-DR1_2330-68A_split_mir
RACS-DR1_2334+12A_split_mir
RACS-DR1_0037-06A_split_mir/
RACS-DR1_0101-37A_split_mir/
RACS-DR1_0130-68A_split_mir/
RACS-DR1_0144+18A_split_mir/
RACS-DR1_0210-18A_split_mir/
RACS-DR1_0215-25A_split_mir/
RACS-DR1_0227-50A_split_mir/
RACS-DR1_0237-18A_split_mir/
RACS-DR1_0243+25A_split_mir/
RACS-DR1_0256+12A_split_mir/
RACS-DR1_0427-43A_split_mir/
RACS-DR1_0606+18A_split_mir/
RACS-DR1_0620+25A_split_mir/
RACS-DR1_0635-31A_split_mir/
RACS-DR1_0647-25A_split_mir/
RACS-DR1_0809-25A_split_mir/
RACS-DR1_0909-18A_split_mir/
RACS-DR1_0913-50A_split_mir/
RACS-DR1_0926-69A_split_mir/
RACS-DR1_0950-50A_split_mir/
RACS-DR1_1057+06A_split_mir/
RACS-DR1_1120+18A_split_mir/
RACS-DR1_1122+12A_split_mir/
RACS-DR1_1144-37A_split_mir/
RACS-DR1_1351+06A_split_mir/
RACS-DR1_1430-68A_split_mir/
RACS-DR1_1459-76A_split_mir/
RACS-DR1_1510-56A_split_mir/
RACS-DR1_1523+25A_split_mir/
RACS-DR1_1531-31A_split_mir/
RACS-DR1_1549-37A_split_mir/
RACS-DR1_1608+18A_split_mir/
RACS-DR1_1625-12A_split_mir/
RACS-DR1_1800+00A_split_mir/
RACS-DR1_1806-12A_split_mir/
RACS-DR1_1812-62A_split_mir/
RACS-DR1_1917-31A_split_mir/
RACS-DR1_1939+06A_split_mir/
RACS-DR1_1941-50A_split_mir/
RACS-DR1_1947-12A_split_mir/
RACS-DR1_1951-62A_split_mir/
RACS-DR1_1955-25A_split_mir/
RACS-DR1_2012-12A_split_mir/
RACS-DR1_2037-12A_split_mir/
RACS-DR1_2056+18A_split_mir/
RACS-DR1_2126-37A_split_mir/
RACS-DR1_2149-18A_split_mir/
RACS-DR1_2208-06A_split_mir/
RACS-DR1_2330-68A_split_mir/
RACS-DR1_2334+12A_split_mir/
vis_hetu_lofar/
vis_hetu_r101_val.old/
vis_hetu_r101_val.v1/
RACS_results/
FIRST_results/
tools/inference/FIRST/properties_analysis/FRI/
tools/inference/FIRST/properties_analysis/FRII/
tools/inference/FIRST/properties_analysis/HT/
tools/inference/FIRST/properties_analysis/CJ/
tools/inference/FIRST/properties_analysis/CJ_add/
tools/inference/FIRST/properties_analysis/Position_angle/data/
tools/inference/FIRST/properties_analysis/Position_angle/figures/
tools/inference/FIRST/properties_analysis/Position_angle/__pycache__/
*mir
tools/inference/FIRST/properties_analysis/lr_host/lr_host_finding/__pycache__/
